{# templates/reserve/index.html.twig #}

{% extends 'base.html.twig' %}

{% block content %}
  <!-- Encabezado de reserva -->
  <div class="flex justify-center items-center">
    <!-- Logo -->
    <div class="rounded-lg p-4">
      <img src="{{ asset('images/allfor1-bg-black.png') }}" alt="Logo" class="h-1/5 w-1/2">
    </div>
    <!-- Descripción de reserva -->
    <div class="rounded-lg p-4 bg-red-600">
      <p style="color: white;">Reservando la actividad: {{ activity.name }}</p>
    </div>
  </div>
  
  <!-- Formulario de reserva -->
  <div class="mt-4">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded mt-4">Reservar ahora</button>
    {{ form_end(form) }}
  </div>

  <!-- Botón de volver a la lista de actividades -->
  <a href="{{ path('app_activity') }}" class="block text-center mt-4 underline">Volver a la lista de actividades</a>
{% endblock %}
