{% extends 'base.html.twig' %}

{% block content %}
    <div class="bg-red-500 min-h-screen flex justify-center items-center">

        <div class="py-12 px-12 bg-white rounded-2xl shadow-xl z-20">
            <div>
                <h1 class="text-3xl font-bold text-center mb-4 cursor-pointer">
    {% if app.user %} 
        <div class="mb-3">
            Bienvenido {{ app.user.lastname }}
        </div>
    {% endif %}
        </h1>
                <p class="text-center text-sm mb-8 font-semibold text-green-700 tracking-wide cursor-pointer">Editar datos</p>
                    </div>

            {{ form_errors(form) }}

            <div class="space-y-4">
                <form action="{{ path('app_perfil') }}" method="post">
                    <div class="border border-gray-300 rounded-md p-2 w-full">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
                    </div>
                    <div class="border border-gray-300 rounded-md p-2 w-full">
                        {{ form_label(form.plainPassword, 'Password') }}
                        {% if form.plainPassword.vars.errors|length > 0 %}
                            <div class="text-red-500 mb-2">
                                {{ form_errors(form.plainPassword)|first }}
                            </div>
                        {% endif %}
                        {{ form_widget(form.plainPassword) }}
                    </div>
                    <div class="border border-gray-300 rounded-md p-2 w-full">
                        {{ form_label(form.lastname) }}
                        {{ form_widget(form.lastname) }}
                    </div>
                    <button type="submit" class="bg-green-500 hover:bg-blue-600 text-white px-4 py-2 rounded-md">Editar</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
